<form action="/eszut/process/changePassword" method="post">
    <h2>Zmień hasło.</h2>
    <label for="newPassword">Podaj nowe hasło:</label>
    <input type="password" name="newPassword" id="newPassword" placeholder="Nowe hasło..." required>
    <label for="cpassword">Potwierdź operację hasłem:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Wpisz swoje hasło..." required>
    <input type="submit" value="Aktualizuj hasło!">
</form>