<form action="/eszut/process/changeEmail" method="post">
    <h2>Zmień adres email.</h2>
    <label for="newEmail">Podaj nowy adres email:</label>
    <input type="email" name="newEmail" id="newEmail" placeholder="abc@mno.xyz" required>
    <label for="confirmPassword">Potwierdź operację hasłem:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Wpisz swoje hasło..." required>
    <input type="submit" value="Aktualizuj email!">
</form>