<form action="/eszut/process/promoteNewAdmin" method="post">
    <h2>Dodaj nowego administratora systemu:</h2>
    <label for="adminName">Podaj imię i nazwisko nowego administratora:</label>
    <input type="text" name="adminName" id="adminName" placeholder="Imię i nazwisko..." required>
    <label for="adminEmail">Podaj adres email nowego administratora:</label>
    <input type="email" name="adminEmail" id="adminEmail" placeholder="abc@mno.xyz" required>
    <label for="adminPassword">Wprowadź hasła nowego administratora:</label>
    <input type="password" name="adminPassword" id="adminPassword" placeholder="Wprowadź nowe hasło..." required>
    <label for="cpassword">Potwierdź operację hasłem:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Wpisz swoje hasło..." required>
    <input type="submit" value="Zarejestruj nowego administratora!">
</form>