header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

a {
    color: azure;
    font-size: 0.6em;
}

a:hover,
a:active {
    color: dimgray;
}

.problems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

table {
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    border-collapse: collapse;
    border: 4px solid mintcream;
}
tr > td:first-child {
    border: 4px solid mintcream;
}
td {
    border: 2px solid mintcream;
    padding: 5px;
}

.unsolved {
    background-color: darkred;
}
.solved {
    background-color: green;
}

button {
    width: 80%;
    height: fit-content;
    padding: 5px;
    background-color: mintcream;
    color: #121212;
}

button:hover {
    color: mintcream;
    background-color: #121212;
    transition: ease-out 1s;
}

article {
    width: fit-content;
}
